# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2024, Bootlin

config SOC_SERIES_CC23XX
	bool
	select SOC_FAMILY_TI_SIMPLELINK
	help
	  Enable support for TI SimpleLink CC23xx

config SOC_CC2340R5
	bool
	select SOC_SERIES_CC23XX
	help
	  CC2340R5


config SOC_SERIES
	default "cc23xx" if SOC_SERIES_CC23XX

config SOC
	default "cc2340r5" if SOC_CC2340R5

