config SOC_SERIES_CC23XX
	bool
	select ARM
	select CPU_CORTEX_M0PLUS

	#select DYNAMIC_INTERRUPTS
	select HAS_TI_CCFG if !BOOTLOADER_MCUBOOT
	select HAS_SEGGER_RTT if ZEPHYR_SEGGER_MODULE
	#select HAS_PM
